<h3>Titulo da matéria selecionada</h3>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
<br>
Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
<br><br>
Morbi ut massa dolor. Phasellus in magna nisl. Maecenas vitae ultrices magna, id aliquet orci. Proin posuere, felis sit amet pharetra pulvinar, quam justo fermentum risus, ac pharetra neque lorem ut nisi. Morbi gravida risus quis tempor interdum. Sed dapibus non enim eget placerat. Nunc vitae dolor nec metus tristique pharetra. Duis id congue tellus. Sed pretium ante eu nunc vestibulum, sed porttitor quam semper. Cras eu egestas nisl, eu placerat orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris vitae iaculis velit, at consectetur magna. Proin commodo nibh interdum, varius tellus a, eleifend libero. Sed justo eros, facilisis non est ac, consequat faucibus turpis. Cras non consectetur lacus. Phasellus vitae laoreet est.</p>

<img src="images/foto-imprensa.jpg" alt="titulo da imagem">

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>