/*
Theme Name: I Fórum Sergipano da Bicicleta - Cidades em movimento
Theme URI: http://www.fsbici.com.br
Description: Tema criado para o hotsite do evento I Fórum Sergipano da Bicicleta
Author: Beco de Criações
Author URI: http://www.becodecriacoes.com.br
Version: 0.1
Tags:
License: All Rights Reserved


CSS Infos:
Name: I Fórum Sergipano da Bicicleta - Cidades em movimento
Type: Hotsite
Design/Code: Beco de Criações
URI: www.becodecriacoes.com.br

Back-end: Marcelo Toscano (www.toscano.com.br) :D;
*/


/* reset */
html, body, main, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html, body {
    height:100%;
}
body {
    background-color: #fff;
    line-height: 1;
	
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
article,main,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}
h1, h2, h3, h4, h5, h6 {
	display: block;
}
nav ul {
    list-style: none;
}
li {
	list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	text-decoration: none;
	cursor: pointer;
    color: #000;
	
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, select, textarea {
    vertical-align: middle;
	outline: none;
    font-family: 'Roboto', sans-serif;
	
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
button {
	font-family: 'FuturaMDBT';
	text-transform:uppercase;
	font-size:15px;
	cursor:pointer;
	
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* font-face */
@font-face {
    font-family: 'FuturaMDBT';
    src: url('fonts/futura_md_bt/futura_md_bt.eot');
    src: url('fonts/futura_md_bt/futura_md_bt.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura_md_bt/futura_md_bt.woff') format('woff'),
         url('fonts/futura_md_bt/futura_md_bt.ttf') format('truetype'),
		 url('fonts/futura_md_bt/futura_md_bt.otf') format('opentype'),
         url('fonts/futura_md_bt/futura_md_bt.svg#FuturaMDBT') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* grid e fix */
.container {
	margin:0 auto;
	padding-left:0.5%;
	padding-right:0.5%;
	position: relative;

	max-width:31.4em;
	font-size: 1.88em;
}
.no-left {
	margin-left:0 !important;
}
.no-right {
	margin-right:0 !important;
}

/* colorbox */
#cboxWrapper {
	font-family:'Roboto', sans-serif;
	font-weight:400;
}
#cboxClose {
	font-family: 'FuturaMDBT';
	font-size:13px;
	text-transform:uppercase;
}
#cboxTitle {
	font-family: 'FuturaMDBT';
	font-size:13px;
	text-transform:uppercase;
}

/* nav menu */
#menu {
	padding-top:15px;
	height: 85px;
}
#menu .marca {
	float:left;
}
#menu ul {
	float:right;
	margin-top:20px;
}
#menu ul li {
	float: left;
	margin-left: 20px;
}
#menu ul li a {
	font-family: 'FuturaMDBT';
	color:#bf4a4b;
	font-size:14px;
	text-transform:uppercase;
}
#menu ul li a:hover {
	color:#a73637;
}
#menu ul li a:active {
	color:#e9757c;
}

/* header */
header {
	background: url(images/linha-amarela.png) 40px top fixed no-repeat,
				url(images/textura-vermelha.gif) repeat;
	height:750px;
}
header .marca_apoio {
	float:left;
	margin-top:65px;
}
header h1 {
	float:right;
	margin-top:240px;
}
header .data_inscrever {
	clear:both;
	width:95.3%;
	padding-top:65px;
	padding-left:45px;
	font-family: 'FuturaMDBT';
}
header .data_inscrever address {
	float:left;
	font-style:normal;
}
header .data_inscrever address p {	
	color:#f4eed4;
	font-size:1.3em;
	border-top:1px solid #ffc400;
	border-bottom:1px solid #ffc400;
	text-transform:uppercase;
	padding:5px 0;
}
header .data_inscrever address p span {
	color:#ffc400;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}
header .data_inscrever address small {
	color:#f4eed4;
	text-transform:uppercase;
	font-size:0.74em;
}
header .data_inscrever .inscrever {
	background:#ffc400;
	color:#a73637;
	float: right;
	font-size:1.6em;
	text-align:center;
	padding: 15px 60px;
	text-transform:uppercase;
}
header .data_inscrever .inscrever:hover {
	background:#ffd340;
	color:#921b1c;
}
header .data_inscrever .inscrever:active {
	padding: 13px 58px;
	margin-top:2px;
}

/* o evento */
#o_evento {
	background: url(images/textura-branca.gif) repeat;
	min-height: 560px;
}
#o_evento article {
	font-family: 'Roboto', sans-serif;
	color:#3a3a3a;
	font-weight:400;
	font-size:14px;
	width: 100%;
	margin-top: 75px;
	
	-moz-column-count: 2;
	-webkit-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	
	-moz-column-width: 400px; 
	-webkit-column-width: 400px;
	-o-column-width: 400px;
	column-width: 400px;
	
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	-o-column-gap: 30px;
	column-gap: 30px;
}
#o_evento article h2 {
	font-family: 'FuturaMDBT';
	text-transform:uppercase;
	color:#963031;
	font-size:27px;
	letter-spacing:-1px;
	border-top: 6px solid #ffc400;
	display:inline-block;
	padding-top:10px;
	margin-bottom:60px;
}
#o_evento article p {
	line-height:20px;
}

/* palestrantes */
#palestrantes {
	background: url(images/linha-vermelha-esquerda.png) 40px -5px fixed no-repeat,
				url(images/textura-amarela.gif) repeat;
	min-height:920px;
}
#palestrantes aside {
	width:100%;
	margin-top:65px;
}
#palestrantes aside figure {
	float:left;
	width:16.4%;
	height:340px;
	margin-left: 2.25%;
	margin-right: 2.25%;
	margin-bottom: 3.5%;
}
#palestrantes aside figure img {
	border: 0;
	border-radius: 80px;
	
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
}
#palestrantes aside figure:hover img {
	border:4px solid #963031;
	margin-top:-9px;
	margin-left:-3px;
	
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
}
#palestrantes aside figure figcaption {
	font-family: 'Roboto', sans-serif;
	color:#000;
	font-weight:400;
	font-size:14px;
	line-height:15px;
}
#palestrantes aside figure figcaption h4 {
	font-family: 'FuturaMDBT';
	text-transform:uppercase;
	color:#963031;
	font-size:22px;
	line-height:22px;
	margin-top:5px;
	margin-bottom:15px;
}
#palestrantes aside figure figcaption .mais_detalhes {
	display:none;
}

/* programacao */
#programacao {
	background: url(images/textura-branca.gif) repeat;
	min-height: 980px;
	margin-top: -65px;
}
#programacao article {
	font-family: 'Roboto', sans-serif;
	color:#3a3a3a;
	font-weight:400;
	font-size:14px;
	width: 100%;
	margin-top: 15px;
	text-align:left;
	height:500px;
}
#programacao article div {
	width:285px;
	float:left;
	margin-right: 40px;
}
#programacao article h2 {
	font-family: 'FuturaMDBT';
	text-transform:uppercase;
	color:#963031;
	font-size:20px;
	letter-spacing:-1px;
	border-top: 6px solid #ffc400;
	display:block;
	padding-top:10px;
	margin-bottom:25px;
	margin-top:25px;
	text-align: center;
}
#programacao article ul li {
	color:#595959;
	margin-bottom:15px;
	line-height: 17px;
}
#programacao article ul li span {
    color:#ffc400;
    border-right: 2px solid #963031;
    padding-right: 5px;
    font-weight: 700;
    margin-right: 5px;
}
#programacao article ul li.tema {
    color:#292929;
}
#programacao article ul li.tema span {
    color:#963031;
    border-right:0;
    font-size: 15px;
    margin-right:0;
}

/* localizacao */
#localizacao {
	background: url(images/textura-vermelha_escura.gif) repeat;
	position:relative;
}
#localizacao #menu ul li a {
	color:#ffc400;
}
#localizacao #menu ul li a:hover {
	color:#f7ac0c;
}
#localizacao #menu ul li a:active {
	color:#ffd95b;
}
#localizacao #map_canvas {
	margin-top:10px;
	border-bottom:3px solid #ffc400;
}
#localizacao .rota {
	background:rgba(255,196,0, 0.8);
	position: absolute;
	top: 290px;
	right: 100px;
	z-index: 100000;
	
	width:270px;
	height:115px;
	padding: 15px;
}
#localizacao .rota p {
	color:#d55f60;
	font-family: 'FuturaMDBT';
	text-transform:uppercase;
	font-size:20px;
	text-align:center;
}
#localizacao .rota .dropdown li ul {
	background:#a73637;
	width:270px;
	padding: 15px;
	position:absolute;
	z-index:2;
	left: 0px;
	top: 129px;
	border-top:2px solid #e9757c;
}
#localizacao .rota .dropdown .clicker {
	background:#a73637;
	color:#fff;
	font-family: 'FuturaMDBT';
	text-transform:uppercase;
	font-size:17px;
	padding: 8px 19px;
	cursor:pointer;
	float: left;
	margin-top: 20px;
	margin-left: 21px;
}
#localizacao .rota .dropdown .active {
	border-bottom: 1px solid #e9757c;
}
#localizacao .rota #routeForm {
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-weight:400;
	font-size:14px;
	text-align: center;
}
#localizacao .rota #routeForm .autoLink {
	display:block;
	color: #e9757c;
}
#localizacao .rota #routeForm .autoLink span {
	text-decoration:underline;
}
#localizacao .rota #routeForm label {
	display:block;
	margin-bottom: 10px;
}
#localizacao .rota #routeForm label.travelcheck {
	display:none;
}
#localizacao .rota #routeForm .inputs {
	width:70%;
	background:#f4eed4;
	padding:2%;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	border:0;
	text-transform:uppercase;
	color:#ada9a9;
	font-size:12px;
	margin-bottom:10px;
	
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
}
#localizacao .rota #routeForm .inputs:focus {
	color: #6b6b6b;

	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
}
#localizacao .rota #routeForm button[type="submit"] {
	background: #ffc400;
	padding:8px 0;
	width:100%;
	color:#a73637;
	font-size:15px;
	border:0;
}

/* contato */
#contato {
	background: url(images/linha-vermelha-direita.png) bottom right  fixed no-repeat,
				url(images/textura-vermelha_escura.gif) repeat;
	min-height:830px;
}
#contato #menu ul li a {
	color:#e9757c;
}
#contato #menu ul li a:hover {
	color:#f6989e;
}
#contato #menu ul li a:active {
	color:#de9b9f;
}
#contato article {
	width:100%;
	float: left;
	margin-top:50px;
	margin-bottom:40px;
}
#contato article form {
	float:left;
	width:45%;
}
#contato article form legend {
	font-family: 'FuturaMDBT';
	text-transform:uppercase;
	color:#f4eed4;
	font-size:25px;
	letter-spacing:-1px;
	border-top: 6px solid #ffc400;
	padding-top: 10px;
	margin-bottom: 25px;
}
#contato article form textarea {
	height:95px;
}
#contato article form .inputs {
	width:96%;
	background:#f4eed4;
	padding:2%;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	border:0;
	text-transform:uppercase;
	color:#ada9a9;
	font-size:14px;
	margin-bottom:10px;
	
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
}
#contato article form .inputs:focus {
	color: #6b6b6b;

	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
}
#contato article form span.customSelect {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:14px;
	color:#ada9a9;
}
#contato article form span.customSelect:active {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
}
#contato article form span.customSelect.changed {
	background-color: #f0dea4;
}
#contato article form .customSelectInner {
	background:url(images/customSelect-arrow.svg) no-repeat center right;
}
.no-svg #contato article form .customSelectInner {
	background:url(images/customSelect-arrow.png) no-repeat center right;
}
#contato article form button[type="reset"] {
	background:#929292;
	color:#fff;
	border:0;
	padding:1.5% 3.5%;
}
#contato article form button[type="reset"]:hover {
	background:#767676;
}
#contato article form button[type="submit"] {
	background:#ffc400;
	color:#a73637;
	border:0;
	padding:1.5% 3.5%;
}
#contato article form button[type="submit"]:hover {
	background:#f3a807;
	color:#e9757c;
}
#contato article .column-right {
	float:right;
	width:45%;
	font-family: 'FuturaMDBT';
	margin-top: 50px;
}
#contato article .column-right .inscrever {
	width: 71.5%;
	background:#ffc400;
	color:#a73637;
	float: right;
	font-size:1.6em;
	text-align:center;
	padding: 8% 14.3%;
	text-transform:uppercase;
	border-bottom:5px solid #b48a00;
}
#contato article .column-right .inscrever:hover {
	background:#ffd340;
	color:#921b1c;
	border-bottom:8px solid #b48a00;
	margin-top:-3px;
}
#contato article .column-right .inscrever:active {
	padding: 13px 58px;
	margin-top:2px;
}
#contato article .column-right .redes_sociais {
	float: right;
	margin-top: 70px;
	text-align:right;
}
#contato article .column-right .redes_sociais h3 {
	font-family: 'FuturaMDBT';
	text-transform:uppercase;
	color:#f4eed4;
	font-size:20px;
	letter-spacing:-1px;
	border-top: 4px solid #ffc400;
	padding-top: 10px;
	margin-bottom: 25px;
}
#contato article .column-right .redes_sociais div {
	float:right;
	width:222px;
}
#contato article .column-right .redes_sociais a {
	display:inline-block;
	float:left;
	margin-right:10px;
}
#contato article .column-right .redes_sociais a span {
	color:#fff;
}
#contato article .column-right .redes_sociais .facebook {
	background:#3b5999;
	width: 41px;
	height: 35px;
	padding-right: 7px;
	padding-top: 13px;
}
#contato article .column-right .redes_sociais .facebook:hover {
	background:#6d85b5;
}
#contato article .column-right .redes_sociais .twitter {
	background:#00acee;
	width: 39px;
	height: 38px;
	padding-right: 9px;
	padding-top: 10px;
}
#contato article .column-right .redes_sociais .twitter:hover {
	background:#008ec4;
}
#contato article .column-right .redes_sociais .instagram {
	background:#553333;
	width: 38px;
	height: 38px;
	padding-right: 10px;
	padding-top: 10px;
}
#contato article .column-right .redes_sociais .instagram:hover {
	background:#9e7662;
}
#contato article .column-right .redes_sociais .youtube {
	background:#ef2a2a;
	width: 38px;
	height: 38px;
	padding-right: 10px;
	padding-top: 10px;
}
#contato article .column-right .redes_sociais .youtube:hover {
	background:#cf2a2a;
}
#contato hr {
	clear:both;
	height:1px;
	border:0;
	background:#ffc400;
}

/* footer */
footer {
	margin-top: -250px;
}
footer p {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:14px;
	color:#7f7f7f;
	text-transform:uppercase;
	float:left;
	display:inline-block;
	margin-top:30px;
}
footer a {
	color:#363636;
}
footer a:hover {
	color:#000;
}
footer .criadores {
	height:70px;
	margin-top:50px;
}
footer .criadores .beco {
	float:right;
	position: relative;
	height: 100%;
}
footer .criadores .beco figure {
	background:#e4e025;
	float: right;
	width: 60px;
	height: 100%;
	margin-left: 10px;
	position:relative;
}
footer .criadores .beco figure img {
	width: 30px;
}
footer .criadores .beco figure .beco-first,footer .criadores .beco figure .beco-second {
	position:absolute;
	top: 22px;
	left: 14px;
}
footer .criadores .beco figure .beco-first {
	z-index:2;
}
footer .criadores .beco figure .beco-second {
	opacity:0;
}
footer .criadores .beco figure:hover .beco-second {
	background:#18223d;
	z-index:3;
	padding:5px;
	border-radius:20px;
	left:10px;
	top:18px;
	opacity:1;
}
footer .criadores .beco figure:hover .beco-first {
	opacity:0;
}

/* imprensa */
.imprensa {
	background: url(images/textura-branca.gif) repeat;
}
.imprensa header {
	background: transparent;
	height:100px;
	border-top: 10px solid #d55f60;
	margin-bottom:50px;
}
.imprensa .content {
	height: 120%;
	position: relative;
}
.imprensa .container {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color:#3a3a3a;
	font-weight:400;
}
.imprensa .content .release {
	margin-bottom:100px;
}
.imprensa .content .lista-materias {
	float:left;
	position:relative;
	width:40.2%;
	margin-right:30px;	
	height: 89%;
}
.imprensa .content .lista-materias li {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:20px;
	margin-bottom:15px;
	
	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.imprensa .content .lista-materias li.active {
	background:#e3dc19;
	border-left:10px solid #a73637;
	padding: 10px;
}
.imprensa .content .lista-materias li a {
	color: #a73637;
}
.imprensa .content .noticias article {
	width: 530px;
	min-height: 94%;
	position: relative;
	float: right;
	margin-top: 0;
	padding-bottom: 60px;
	text-align: justify;
}
.imprensa .content h2 {
	font-family: 'FuturaMDBT';
	text-transform:uppercase;
	color:#963031;
	font-size:27px;
	letter-spacing:-1px;
	border-top: 6px solid #ffc400;
	display:inline-block;
	padding-top:10px;
	margin-bottom:60px;
}
.imprensa .content .release h3 {
	font-family: 'Roboto', sans-serif;
	color:#a73637;
	font-weight:700;
	font-size:27px;
	margin-bottom:20px;
	text-align:left;
	border-bottom:1px solid #ffc400;
}
.imprensa .content .release .download-doc {
	background:#ffc400;
	color:#963031;
	font-size:16px;
	padding:10px;
}
.imprensa .content .release .download-doc:hover {
	background:#efa415;
	color:#a73637;
}
.imprensa .content .noticias h3 {
	font-family: 'Roboto', sans-serif;
	color:#a73637;
	font-weight:700;
	font-size:27px;
	margin-bottom:30px;
	border-bottom:1px solid #ffc400;
}
.imprensa .content article h3 {
	text-align:right;
}
.imprensa .content p {
	font-weight:300;
	font-size:14px;
	line-height:20px;
	margin-bottom:20px;
	color:#3a3a3a;
}
.imprensa .content article img {
	margin-bottom:20px;
	border-bottom:5px solid #a73637;
}
.imprensa #contato {
	clear: both;
	min-height:740px;
}
.imprensa footer .criadores {
	height: 63px;
	margin-top: 57px;
}

/* customização dos inputs=type=""] */
#inline_content form {
	width: 96%;
	margin-left: 10px;
}
#inline_content form ul li {
    margin-bottom: -5px;
	padding: 18px 15px 0px 27px;
	position: relative;
	display: block;
	float: left;
}
#inline_content form legend {
	width:100%;
	float: left;
	color:#9d3c34;
	font-size:20px;
	text-transform:uppercase;
	border-top:3px solid #ffc400;
	letter-spacing: -1px;
	padding-top: 3px;
	margin-top: 10px;
}
#inline_content form ul {
	margin-top: -6px;
	float: left;
	width: 100%;
}
#inline_content form ul li label {
	color:#9d3c34;
	font-size:14px;
	float: left;
	text-transform:uppercase;
	margin-left: -20px;
}
#inline_content form .inputs {
	width:96%;
	background:#f4eed4;
	padding:2%;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	border:0;
	text-transform:uppercase;
	color:#ada9a9;
	font-size:14px;
	margin-bottom:10px;
	
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
}
#inline_content form .inputs:focus {
	color: #6b6b6b;

	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
}
#inline_content form select {
	width:100% !important;
	margin-top: 45px;
	height: 23px !important;
}
#inline_content form span.customSelect {
	margin-top:10px;
}
#inline_content form span.customSelect.changed {
	background-color: #f0dea4;
	width: 100% !important;
}
#inline_content form .customSelectInner {
	background:url(images/customSelect-arrow.svg) no-repeat center right;
	width: 100% !important;
}
#inline_content form button[type="submit"] {
	background:#ffc400;
	font-size:20px;
	color:#9d3c34;
	width:100%;
	border:0;
	padding:10px 0;
	margin-top:25px;
}
input[type="checkbox"]{
    position: relative;
    width: 23px;
    height: 22px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
    top: -7px;
	left: -30px;
	float: left;
}
input + label:before {
    content: " ";
    background: url(images/radioInactive.gif) no-repeat center top;
    width: 23px;
    height: 22px;
    position: absolute;
    display: inline-block;
    z-index: 5;
	
    -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
input[type="checkbox"] + label:before {
    background: url(images/radioInactive.gif) no-repeat scroll center top transparent;
	top: 14px;
    left: 0;
    position: absolute;
}
input[type="checkbox"]:focus + label:before {
    background: url(images/radioActive.gif) no-repeat center top;
}
input[type="checkbox"]:checked + label:before {
    background: url(images/radioActive.gif) no-repeat center top;
    top: 14px;
    left: 0;
}

/* smartphone portrait resolution */
@media (max-width: 49.99em) and (min-width: 37.5em) {
}